*{
    margin: o;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

body{
    text-align: right;
    color: #ffffff;
    font-family: "Bebas Neue";
    background: #000;
}

nav .button-nav{
    position: relative;
    top: 1px;
    right: 1px;}
nav .button-nav button{
    display: none; 

}
nav .button-nav button i{
    font-size: 35px;
    color: #ffffff;
}






.main-nav{
    width: 100%;
    background: #000000;
   
    
}



nav{
    z-index: 250;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    box-shadow: 0 -8px 26.2px #B336FF;
    background: #000000;
    

}

#logo{
    color: #B336FF;
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 40px;
    list-style-type: none;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    transition: 0.4s;
}
nav a:hover{
    color: #B336FF;
}

.light-bulb{
    width: 60px;
    height: 222px;
    position: absolute;
}
.light-bulb img{
    position: absolute;
    left: 350px;
    /* left: 400px;
    bottom: 311px; */
}
.light-mode{
    /* position: absolute; */
}
.light-mode img{
    position: absolute;
    left: 469px;
    top: 220px;
}

.introduction-txt span{
    color: #ffffff;
}

.hero{
    display: grid;
    grid-template-columns: 300px 1fr;
    /* margin-top: 150px; */
    align-items: center;
}
.hero img{
    margin-top: 40px;
}
.hero .introduction-txt{
    padding-left: 100px;
    margin-right: 50px;
}
.hero .introduction-txt .my-title{
    font-family: "caveat";
    font-size: 67px;
}
.hero .introduction-txt p{
    margin-top: 0;
    font-size: 20px;
    margin-left: 100px;
}

.hero .introduction-txt h1{
    margin: 40px 0 0 0px;
    font-size: 90px;
    color: #B336FF;
}
.social{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
}

.social .social-icons i{
    background: none;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.social .social-icons{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}
.social .download button{
    width: 120px;
    height: 35px;
    background: transparent;
    box-shadow: 0 2px 10px #B336FF;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;

}

.social .download button:hover{
    box-shadow: 0 4px 20px #B336FF;   
}
.social .download button i{
    color: #ffffff;
    padding-left: 10px;
    font-size: 30px;
}

.social .social-icons i:hover{
    box-shadow: 0 4px 20px #ffffff;
    background: rgba(255, 255, 255, 0.4); 
    
}

.arrow-down{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.arrow-down img{
    transition: 0.5s;
}
.arrow-down img:hover{
    transform: scaleY(2);
    
}
.arrow-down img:hover{
    box-shadow: 1px -2px 25px #ffffff;
    border-radius: 50%;
}
.about-me{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.about-me .certification{
    display: flex;
    flex-direction: column;
    
    
}
.about-me .certification .cert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.next, .prev{
    transition: 0.7s;
}

.next:hover, .prev:hover{
    border-radius: 50%;
    width: 50px;
    box-shadow: 1px 2px 25px #B336FF;
    

}

.slide {
    display: none;
  }
.slide img{
    width: 250px;
}

  /* .prev, .next {
    position: absolute;
} */

.c img{
    width: 700px;
}
/* circle{
    
} */


.circle-container {
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid ;
    color: white;
    font-size: 14px;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.main-circle {
    height: 100px;
    width: 100px;
    background: transparent;
    margin-top: 150px;
    border-radius: 50%;
    box-shadow: 1px 2px 25px #B336FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-circle {
    width: 80px;
    height: 80px;
    opacity: 0;
    transform: scale(0);
}

.small-circle i{
    font-size: 40px;
}
.small-circle img{
    width: 40px;
}

#circle1 { top: 10px; left: -20px; }
#circle2 { top: 280px; left: 120px; }
#circle3 { top: 120px; left: -120px; }
#circle4 { top: 100px; left: 120px; }
#circle5 { top: 300px; left: -100px; }




































.about{
    margin-bottom: 60px;
}


.about-me .certification, .my-profile{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.about-me .qualification{
    /* padding-top: 120px; */
    text-align: center;
}
.about-me .qualification .my-qual-img{
    margin-left: -30px;
}

.my-profile img{
    width: 400px;
    border-radius: 150px;
    filter: blur(5px);
    transition: 0.6s;
}
.my-profile img:hover{
    border-radius: 0;
    filter: blur(0px);
}
.about-me .qualification h2{
    text-decoration: underline;
    font-size: 32px;
}
.about-me .qualification h3{
    font-size: 20px;
}
.about-me .qualification p{
    font-size: 15px;
}
.about-me .qualification h2, h3{
    margin: 0;
}
.hobby{
    margin-top: 50px;
}
.dividor .divid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20PX;
}
.dividor .line{
    background: #ffffff;
    height: 0.5px;
    margin-top: 1px;
    width: 100%;
}

#car {
    position: absolute;
    /* top: 50%;
    left: 0; */
    width: 100px; /* Adjust size as needed */
    animation: moveCar 6s linear infinite;
}


@keyframes moveCar {
    0% {
        left: 100;
    }
    50% {
        left: calc(100% - 100px); /* Adjust distance to move */
    }
    100% {
        left: 0;
    }
}











.contact-div{
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.contact{
    padding-left: 70px;
    padding: 70px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 720px;
    /* height: 700px; */
    align-items: center;
    justify-content: center;       
    text-align: left;
    box-shadow: 1px 2px 25px #ffffff;

}

.contact input{
    background: transparent;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
.contact input{
    margin-bottom: 50px;
}


 input[type="submit"]{
    display: block;
    margin-bottom: 0;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 6px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    transition: 0.4s;
}
.contact-left input[type="submit"]:hover{
    background: #ffffff;
    color: #000000;
}
.contact-right .social-icons{
    margin-top: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-right .social-icons i:hover{
    box-shadow: 0 4px 20px #ffffff;
    border-radius: 50%;
} 
.contact-right textarea{
    border-top-right-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: "Open Sans";
    font-size: 17px;
    font-weight: 500;

}

.contact-right textarea::placeholder{
    font-weight: "Open Sans";
    font-size: 17px;
    font-weight: 500;
}

#submit-2{
    display: none;
}


footer{
    width: 100wv;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-shadow: 1px -2px 25px #ffffff;
    margin-top: 100px;position: relative;
    bottom: 0;
}
footer img{
    margin-left: 10px;
    width: 20px;
}





.thankyou{
    display: flex;
    /* align-items: center; */
    text-align: center;
}
.thankyou h1, p{
    font-family: "Bebas Neue";
}









@media screen and (max-width: 1065px){


    nav .button-nav button{
        position: relative;
        right: 100px;
        display: inline-block;
        cursor: pointer;
        background: transparent;
    }
    nav .button-nav #close-nav{
        display: none;
    }
    
    
    
    
    
    
    .nav-menu{
        z-index: 250;
        color: #ffffff;
        display: none;
        position: fixed;
        flex-direction: row;
        top: 1.5rem;
        right: 2%;
        height: fit-content;
        width: 25rem;
        flex-direction: column;
        gap: 0;
        border-radius: 10px;
        background-color: #B336FF;
        padding-bottom: 20px;
        padding: 50px 0;
        
    }

    .nav-menu li{
        margin-top: 30px;
        
    }
    nav{
        margin-right: 0px;
    }

    .light-bulb img{
        left: 170px;
        height: 300px;
    }
    .light-mode img{
        left: 260px;
        top: 180px;
    }
c


    .hero{
        grid-template-columns: 100px 1fr;
    }
    .hero img{
        margin-top: 30px;
        width: 250px;

    }
    .hero .introduction-txt .my-title{
        font-size: 57px;
    }
    .hero .introduction-txt h1{
        font-size: 40px;
    }

    .hero .introduction-txt p{
        margin-left: 30px;
        text-align: center;
    }
    .social .download button{
        width: 120px;
        height: 30px;
        font-size: 14px;

    }
    .social .social-icons i{
        font-size: 25px;
    }
    .social .social-icons{
        gap: 10px;
    }



    .about-me{
        grid-template-columns: 1fr 1fr;
    }
    .certification{
        height: 100vw;
    }

    .slide img{
        width: 250px;
    }
    
    .my-profile{
        margin-top: 100px;
    }

    .my-profile img{
        
        width: 300px;
    }
    .about-me .qualification{
        margin-top: 500px;
    }

    .contact{
        width: 600px;
        padding: 50px;
    }

    #submit-2{
        display: none;
        
    }








    @media screen and (max-width: 630px){


        nav .button-nav button{
            position: relative;
            right: 70px;
        }


        .light-bulb img{
            left: 100px;
            height: 200px;
        }
        .light-mode img{
            left: 159px;
            top: 120px;
            width: 75px;
        }

        .nav-menu{
            width: 20rem;
        }



        .hero{
            grid-template-columns: 1fr;
            /* margin-left: -110px; */
            margin: 0;
        }

        .hero .blended-background img{
            width: 400px;
        }
        .hero .introduction-txt{
            margin-top: -60px;
            margin: 0;
            padding: 0;
        }
        .hero .introduction-txt .my-title{
            font-size: 50px;
        }
        .hero .introduction-txt h1{
            text-align: center;
            font-size: 35px;
        }
        .hero .introduction-txt p{
            font-size: 12px;
            text-align: center;
            padding: 10px 50px 20px;
            margin: 0;
            /* padding: 0; */
        }

        .social{
            gap: 20px;
            justify-content: center;
        }
        .social .social-icons{
            gap: 5px;

        
        }
        .social .download button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 25px;
            font-size: 12px;
        }
        .social .download button i{
            font-size: 15px;
        }
        .social .social-icons i{
            font-size: 20px;
        }



        .arrow-down{
            margin-top: 60px;
        }

        .about-me{
            grid-template-columns: 1fr;
        }
        .certification{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .certification .slide img{
            width: 300px;
        }

        .my-profile{
            margin-top: 300px;
        }
        .my-profile img{
            margin-top: 70px;
            width: 250px;
        }


        .contact{
            width: 290px;
            gap: 40px;
            padding: 50px 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            text-align: left;
            
        }
        /* .contact-div{
            display: flex;
            align-items: center;
            justify-content: center;
           
        } */

        
        .contact input{
            width: 100wv;
        }

        #submit-1{
            display: none;
            margin: 20px 0 20px 0;
        }

        #submit-2{
            display: flex;
            margin: 20px 0 20px 0;
        }

        .contact-right textarea{
            padding-right: 10px;
            width: 170px;
            padding-left: 0px;
        }



        .contact-right .social-icons{
            margin: 0;
            padding: 0;
            width: 90px;
        }
        
    }










































}






